* {
    /* background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); */
    /* background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.log-container {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content h1 {
    font-size: 4rem;
    font-weight: 900;
    margin: 2.5rem 0;
}

.form-bgcolor {
    border-radius: 80px;
    background-color: white;
    height: 85%;
    width: 30%;
}

.btn-s {
    display: flex;
    justify-content: center;
}
.btn-s #login-btn {
    border: none;
    width: 15rem;
    height: 4rem;
    background-image: linear-gradient(#f78ca0, #f9748f, #fd868c, #fe9a8b);
    border-radius: 10px;
    font-size: 1.8rem;
}
.btn-s button {
    margin: 2rem 1.5rem; 
    border: 1px solid black;
    width: 15rem;
    height: 4rem;
    /* background-image: linear-gradient(#f78ca0, #f9748f, #fd868c, #fe9a8b); */
    border-radius: 10px;
    font-size: 1.8rem;
}
.btn-s button > a{
    color: black;
    text-decoration: none;
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50vh;
    margin: 1.8rem 0;
}
.login-form input{
    width: 100%;
    height: 4rem;
    margin: 2rem 0;
    font-size: 1.9rem;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid black;
}
.login-btn{
    margin: 2rem 0;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(#f78ca0, #f9748f, #fd868c, #fe9a8b);
    width: 100%;
    height: 4rem;
}
.login-form p,
.login-form a{
    font-size: 1.8rem;
}

.login-form a{
    color:  #f9748f;
    text-decoration: none;
}
.pass-show{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
}
.pass-show i{
    position: absolute;
    margin: 0 1rem;
    right: 2%;
    color: black;
}