*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f4f4f4;
}

/* Container */
.container{
    width: 90%;
    max-width: 700px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
}

/* Heading */
.container h1{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* Student Info */
.student_container h2{
    font-size: 16px;
    margin: 5px 0;
}

/* Table Style */
.marks-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.marks-table th,
.marks-table td{
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

.marks-table th{
    background:black;
    color:white;
}

/* Total Section */
.result-summary{
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid #333;
}

.result-summary h2{
    margin: 5px 0;
}

/* Responsive */
@media (max-width: 480px){
    .container{
        padding: 15px;
    }

    .student_container h2{
        font-size: 14px;
    }

    .marks-table th,
    .marks-table td{
        padding: 6px;
        font-size: 12px;
    }
}