:root {
    --main-color: black;
    --secondary-color: white;
    --text-color: white;
    --secondary-text-color: black;
    --bg-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
}

.navbar {
    height: 8vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.13);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    font-size: 1.5rem;
}

.nav-item ul {
    display: flex;
    gap: 5.5rem;
}

.nav-link {
    list-style: none;
    position: relative;
    width: max-content;
    cursor: pointer;
}

.nav-item li {
    list-style: none;
    cursor: pointer;
}

.nav-item li:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1em;
    bottom: 0;
    left: 0;
    background-color: black;
    cursor: pointer;
    cursor: pointer;
}

.login-btn {
    cursor: pointer;
    height: 2.1rem;
    width: 5.5rem;
    border: none;
    border-radius: 0.6rem;
    font-size: 1.3rem;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.login-btn a{
    color: black;
    text-decoration:none;
}

.login-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 0.6rem;
    z-index: -1;
    transition: 0.3s;
}

.login-btn:hover::after {
    width: 100%;
    background-color: black;
}

.login-btn a:hover {
    color:white;
}

.hero-section img {
    height: 30rem;
    width: 90%;
    object-fit: cover;
    margin: 2% 5%;
    border-radius: 50px;
    position: relative;
}

.overlay {
    height: 30rem;
    width: 90%;
    object-fit: cover;
    margin: 2% 5%;
    border-radius: 50px;
    position: absolute;
    top: 50px;
    background-color: rgba(0, 0, 0, 0.594);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.6rem;
    font-family: monospace;
}

.overlay p {
    color: rgba(255, 255, 255, 0.73);
}

.about-section h2,
.about-section p {
    font-size: 3.5rem;
    text-align: center;
}

.about-section p {
    font-size: 1.9rem;
    color: gray;
}

.about-container {
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

.about-container img {
    height: 550px;
    margin: 3rem 6%;
}

.about-txt {
    margin-top: 5.5rem;
    text-align: justify;
    width: 50%;
}

.about-txt h2,
.about-txt p {
    text-align: justify;
}

.about-txt h3 {
    font-size: 1.5rem;
    margin-bottom: 1.8rem;
}

.contact-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 10rem;
}

.form h2 {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
    font-family: monospace;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 90vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20rem;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

#txt-area {
    height: 5.9rem;
}

.form input {
    height: 2.5rem;
    width: 20.5rem;
    padding-left: 1rem;
}

.form textarea {
    padding-left: 1rem;
}

.form button {
    height: 3rem;
    background-color: black;
    color: white;
    font-size: 1rem;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    z-index: 1;
}
.form button::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color:white;
    z-index: -1;
    transition: 0.5s;
}
.form button:hover::after{
    width: 100%;
}
.form button:hover{
    color: black;
}
footer {
    margin-top: 20vh;
    height: 20vh;
    background-color: black;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer-icon i {
    height: 5%;
    width: 5%;
    color: white;
}

.footer-icon i:hover {
    transform: scale(1.1);
}